* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Times New Roman', 'Times', serif;
}

.cloze {
  width: 30px;
  background: #a0a0a0;
  text-decoration: none;
  border-radius: 8px;
  color: transparent;
}

.cloze-reveal {
  color: royalblue;
}

.katex {
  font-size: 1.1em !important;
}
